# Supabase — projeto: yefkehvdtykucjajfdcs
NEXT_PUBLIC_SUPABASE_URL=https://yefkehvdtykucjajfdcs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InllZmtlaHZkdHlrdWNqYWpmZGNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwMTY1NTQsImV4cCI6MjA4ODU5MjU1NH0.mfRk1S06qVrYqgF0-asjosel9Y0IZmyTj3DtAwHloE0